/* My Notes =>  */
// - Weights: 400, 700

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --radius: 2rem;
}

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85%;
  max-width: 325px;
  padding: 1.6rem;
  margin: 7rem auto 2rem;
  text-align: center;
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card__img {
  border-radius: calc(var(--radius) / 2);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0.5rem 0.75rem 2rem;

  .card-body__title {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--dark-blue);
  }
  .card-body__paragraph {
    color: var(--grayish-blue);
  }
}
